.parallax-container {
    height: 500px;
}
.nav-wrapper, .page-footer {
    background: #36163F !important;
}
nav li a {
    color: #F5BA97;
}
#link {
    color: #36163F;
}
#cc {
    color: #36163F;
}
nav li a:hover {
    background: #71476E;
}
.modal {
    width : 700px;
}
h4 {
    font-weight:  bold;
}
h4 {
    font-weight:  bold;
}
img {
    magin-left : 25%;
}
h5 {
    font-style: bold;
}
.card-title {
    height : 80px;
    line-height: 80px;
    vertical-align: middle;
    font-size : 40px;
}
.card .card-title {
    font-size: 25px;
    height : 80px;
    vertical-align: middle;
    font-style: : bold;
}