html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.parallax-container {
    height: 500px;
}
.nav-wrapper, .page-footer {
    background: #36163F !important;
}
nav li a {
    color: #F5BA97;
}
#link {
    color: #36163F;
}
#cc {
    color: #36163F;
}
nav li a:hover {
    background: #71476E;
}
.modal {
    width : 700px;
}
img {
    magin-left : 25%;
}
h5 {
    font-style: bold;
}
.card-title {
    height : 80px;
    line-height: 80px;
    vertical-align: middle;
    font-size : 19px;
}
.card .card-title {
    font-size : 19px;
    height : 80px;
    vertical-align: middle;
    font-style: bold;
}
